  @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root {
    --primary-color : #6366F1;
    --accent-color : #3f83f8;
    --text-color : #333333;
    --link-color : #2563eb;
    --background-color : #ffffff;
    --light-gray : #f0f0f0;
    --gray : #808080;
    --dark-gray : #555;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Lora', serif;
}

body{
    text-align: center;
    height : 100vh;
    padding: 0.1rem;
    background-color: var(--background-color);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin : 0 auto;
    padding: 0.5rem 2rem;
}

.logo{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color : var(--text-color);
    text-decoration: none;
    gap : 0.625rem;
}

.logo-icon{
    height: 5.875rem;
    width : 1.938rem;
}

.logo-text{
    font-size : 2rem;
    font-family : 'papyrus'
}


.nav{
    display: none;
    gap : 1.5rem;
}

@media screen and (min-width:850px) {
    .nav{
        display: flex;
    }
}

.nav-link{
    color : #718096;
    font-size: 1.125rem;
    font-weight: 600;
    transform: color 0.1s;
}

.nav-link:hover{
    color : var(--link-color);
}

.contact-button{
    border : none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color : var(--background-color);
    transform: all 0.1s;
    padding: 0.75rem 1.5rem;
    font-size : 1rem;
    font-weight: 500;
    display: none;
}

@media screen and (min-width : 850px) {
    .contact-button{
        display: block;
    }
    
}

.contact-button:hover{
    background-color: #5254f8;
}

.menu-button{
display: none;
border: none;
border-radius: 0.375rem;
font-size : 1rem;
font-weight: 600;
padding: 0.5rem 0.9rem;
background-color : var(--background-color)
}

@media screen and (max-width : 850px){
    .menu-button{
        display : block;
    }
}

.menu-icon{
height : 1.5rem;
width : 1.5rem;
}

/* ---------------------------------MAIN---------------------------- */


.main{
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    padding: 0.5rem 2rem;
    align-items: center;
    margin: 0 auto;
    gap : 2rem;
}

.content-left{
    text-align: center;
    animation: slideFromLeft 1s ease forwards;
    opacity : 0;
}

@keyframes slideFromLeft {
    0%{
        opacity : 0;
        transform: translateX(-100%);
    }

    100%{
        opacity : 1;
        transform: translateX(0)
    }
    
}

.acing{
    font-size : 5.5rem;
    color : var(--text-color);
       /* color : var(--primary-color);  */
}

.exam{
    font-size: 3.5rem;
    color : var(--text-color);
    color : var(--text-color);

}

 .exam span{
       color : var(--primary-color); 
    
} 

.acing span{
        color : var(--primary-color);  

}

.mainpara{
font-size : 1.1rem;
color : var(--gray);
margin-top: 0.49rem;
}

.button-grp{
    display: flex;
    gap : 2rem;
    padding: 1rem;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
}

.getnotes-button, .getpyq-button{
    border : none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color : var(--background-color);
    transform: all 0.1s;
    padding: 0.75rem 1.5rem;
    font-size : 1rem;
    font-weight: 500;
}

.getpyq-button{
    background-color: var(--dark-gray);
}
.getnotes-button:hover{
    background-color: #5254f8;
}

.getpyq-button:hover{
    background-color: var(--gray);
}

.content-right{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container{
    border-radius: 0.625rem;
    overflow: hidden;
    height : 57vh;
}

.main-img{
    height : 100%;
    width : 100%;
}

@media screen and (min-width : 850px){
    .main{
        flex-direction: row;
        padding: 0.5rem 3.5rem;
    }
    
    .header-content {
        padding: 0.5rem 3.5rem;
    }

    .content-left{
        min-width : 50%;
        text-align: left;
    }

    .acing{
        font-size: 8rem;
        padding-left: 0;
    }

    .exam{
        font-size: 4.5rem;
    }

    .mainpara{
        font-size : 1.5rem;
    }


    .content-right {
        min-width : 50%;
    }

    .button-grp{
        justify-content: start;
        padding-left: 0;
    }

    .img-container{
        height: 75vh;
        width : 28vw;
    }
}



/* -----------------------------BRANCHES------------ */
.select-branch-content{
    max-width: 1280px;
    padding: 0.5rem 2rem;
    text-align: center;
    color : var(--text-color);
    margin-top: 3rem;
    margin-bottom: 0.33rem;
    font-size: 0.68rem;
}

.select-branch-heading span{
    color : var(--primary-color);
}
.branches-content{
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap : 2rem;
    max-width: 1280px;
}

.branches-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    /* border: 1px solid var(--gray);
    border-radius: 3.3rem; */
    padding: 1.8rem 1.3rem;
    max-width : 16rem;
    transition: all 0.3s ease ;
}

.branches-box:hover{
transform: translateY(-3%);
box-shadow: 10px 0 15px var(--light-gray);
}


.branch-heading{
    color: var(--text-color);
    margin-top: 0.6rem;
    font-size : 1.3rem;
}

.branch-para{
    color : var(--gray);
    margin-top: 1.4rem;
    font-size : 0.81rem;
}


@media screen and (min-width : 450px) {
    .branches-box{
        border: 1px solid rgb(237, 228, 228);
        border-radius: 3.3rem;
        max-width: 17rem;
        justify-content: center;
        min-height : 15rem;

    }

    .branches-content{
        justify-content:center;
        padding: 0.5rem 3.5rem;
    }

    .select-branch-content{
        font-size: 1.3rem;
        margin-bottom: 3rem;
    }
  
}

